@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

@media (min-width: 320px) {
  body {
    background-color: black;
    overflow-y: hidden;
  }

  section {
    margin-top: 20vh;
  }

  section h1 {
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 60px;
    margin-left: 5vw;
  }

  section p {
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    margin-left: 5vw;
    margin-top: -9vh;
  }

  h5 {
    color: white;
    font-family: "Poppins", sans-serif;
    margin-top: 30vh;
    margin-left: 25vw;
  }
}

@media (min-width: 700px) {
  body {
    background-color: black;
    overflow-y: hidden;
  }

  section {
    margin-top: 20vh;
  }

  section h1 {
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 100px;
    margin-left: 10vw;
  }

  section p {
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    margin-left: 10vw;
    margin-top: -9vh;
  }

  h5 {
    color: white;
    font-family: "Poppins", sans-serif;
    margin-top: 30vh;
    margin-left: 40vw;
  }
}

@media (min-width: 1080px) and (min-height: 720px) {
  body {
    background-color: black;
    overflow-y: hidden;
  }

  section {
    margin-top: 20vh;
  }

  section h1 {
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 100px;
    margin-left: 10vw;
  }

  section p {
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    margin-left: 10vw;
    margin-top: -10vh;
  }

  h5 {
    color: white;
    font-family: "Poppins", sans-serif;
    margin-top: 30vh;
    margin-left: 45vw;
  }
}
